* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* body {
  color: var(--textColor);
  font-family: "Lato", sans-serif;
  background-image: url(../asset/BG.png) !important;
} */

.musicContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 1rem;
  margin-bottom: 5rem;
  column-gap: 2rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music {
  display: flex;
  flex-direction: column;
  width: 9rem;
  height: 9rem;
  cursor: pointer;
}
.musicImg {
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.musicImg:hover {
  transform: scale(1.02);
}
.musicImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.artistImg img {
  width: 100%;
  border-radius: 100%;
  height: 100%;
  object-fit: cover;
}

.musicInfoDescription {
  letter-spacing: 0.09px;
  color: #99999f;
  opacity: 1;
  font-weight: normal;
  font-size: 0.65rem;
  transition: all 0.5s ease-in-out;
}
.musicInfoDescription:hover {
  color: rgb(210, 208, 208);
  cursor: pointer;
}
.musicInfoHeader {
  letter-spacing: 0.1px;
  color: #ffffff;
  opacity: 1;
  font-size: 0.7rem;
  font-weight: 300;
  text-align: left;
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
}
.iconLike {
  color: #99999f;
  opacity: 1;
  font-weight: normal;
  font-size: 0.7rem;
  transition: all 0.5s ease-in-out;
}
.iconLike:hover {
  color: rgb(210, 208, 208);
  cursor: pointer;
  transform: scale(1.1);
}
.iconAndDesc {
  display: flex;

  align-items: center;
  margin-top: 0.2rem;
  column-gap: 0.4rem;
  transition: all 0.5s;
}

.artistInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .musicContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
    margin-bottom: 5rem;
    row-gap: 4rem;
    max-width: 100%;
  }

  .music {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
  }
  .musicInfoDescription {
    font-size: 0.75rem;
  }
  .musicInfoHeader {
    font-size: 0.9rem;
  }
}
